#todo-list {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}

#todo-list li {
    padding: 18px 20px 18px 0;
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ccc;
}

#todo-list li:LAST-CHILD {
    border-bottom: none;
}

#todo-list li.done label {
    color: #777;
    text-decoration: line-through;
}

/*
    Edit todo item
----------------------------------*/
#todo-list li.editing {
    padding-right: 0;
}

#todo-list li.viewing .view {
    display: block;
}

#todo-list li.viewing input[type='text'] {
    display: none;
}


#todo-list li.editing .view {
    display: none;
}

#todo-list li.editing input[type='text'] {
    display: block;
}

/*
    remove todo item
----------------------------------*/
#todo-list .destroy {
    position: absolute;
    right: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url("../img/destroy.png") no-repeat;
    top: 22px;
    display: none;
}

#todo-list li:hover .destroy {
    display: block;
}

#todo-list .destroy:hover {
    background-position: 0 -20px;
}
